Source: xserver-xorg-input-evdev-multitouch
Section: x11
Priority: optional
Maintainer: Sung-Jin Park <sj76.park@samsung.com>
Uploaders: Sung-Jin Park <sj76.park@samsung.com>, SooChan Lim <sc1.lim@samsung.com>
#Uploaders: David Nusinow <dnusinow@debian.org>, Drew Parsons <dparsons@debian.org>, Julien Cristau <jcristau@debian.org>, Brice Goglin <bgoglin@debian.org>
Build-Depends: debhelper (>= 5.0.0), pkg-config, quilt, xserver-xorg-dev (>= 1.6.99.900), x11proto-core-dev, x11proto-randr-dev, x11proto-input-dev, x11proto-kb-dev, libxkbfile-dev, dpkg-dev (>= 1.14.17), automake, libtool, xutils-dev (>= 1:7.3~1)
Standards-Version: 3.8.3

Package: xserver-xorg-input-evdev-multitouch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xserver}
Provides: ${xinpdriver:Provides}
Conflicts: xserver-xorg-input-evdev-multitouch-c210
Replaces: xserver-xorg-input-evdev-multitouch-c210, xserver-xorg (<< 6.8.2-35)
Description: X.Org X server -- evdev input multitouch driver
 This package provides the driver for input devices using evdev, the Linux
 kernel's event delivery mechanism.  This driver allows for multiple keyboards
 and mice to be treated as separate input devices.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This package is built from the X.org xf86-input-evdev driver module.

Package: xserver-xorg-input-evdev-multitouch-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xserver}, xserver-xorg-input-evdev-multitouch (=${Source-Version})
Description: Debug package of xserver-xorg-input-evdev-multitouch
